.swiper-slide{
    height:100dvh !important;
}
.swiper{
    height:100dvh !important;
}
.scroll-texts{
    pointer-events: none;
}
.static-span{
    display: inline-block;
}
.title1static
{
    display:inline;
}
.title2animated
{
    display:inline;
}

.title2static
{
    display:inline;
}
.title3animated
{
    display:inline;
}
.title3static
{
    display:inline;
}
.title4animated
{
    display:inline;
}
